<section id="banner" class="mainimage">
    <div class="content">				
        <header>
            <div class="b_box">
            <p class = "team" >웹프로그래밍 팀프로젝트</p>	
                <p class = "title" >Russia & Ukraine</p>
                <h1>전쟁으로 인한 생활 속 변화</h1>	
                <ul class="actions1">
                    <li><a href="#" class="button">look profile</a></li>
                </ul>	
                
            </div>
        </header>
        <!--<span class="image"><img src="images/pic01.jpg" alt="" /></span> -->
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
</section>