<section id="banner">
    <main class="main-text">
        <div id="a_box1">
            <span class="text-box1"></span>
             <p>&</p>
        <div id="b_box2">
            <span class="text-box2"></span>
            <p>Russia</p>
        <div id="c_box3">
            <span class="text-box3"></span>
            <p>Ukraine </p>
            <div id="c_box4">
                <span class="text-box4"></span>
                <p>전쟁으로 인한 피해</p>
            </div>
        <span class="image"><img src="/main/static/main/images/1.png" alt="" /></span>
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
</div>
</section>