<!-- Five -->
<section id="five" class="wrapper style2 special fade" style="padding: 2.5em;">
  <h2 style="text-align:left; margin-left: 50px;">
    Team Dove
  </h2>
    <div class="container">
      <header class="row five-site">
        <div class="col-3">
          <div class="name">
            <h1>About</h1>
            <ul class="five-links" style="list-style-type:none;">
              <li>About Dove</li>
              <li>Advertise Dove</li>
              <li>Contact Dove</li>
              <li>Explore Dove</li>
              <li>Privacy & Terms</li>
              <li>Community Guidelines</li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <ul class="five-links" style="list-style-type:none;">
            <h1>Help</h1>
            <li>Design</li>
            <li>Contact Us</li>
            <li>Contribute</li>
            <li>Privacy Policy</li>
            <li>Sitemap</li>
          </ul>
        </div>
        <div class="col-3">
          <div class="">
            <h1>Members</h1>
            <ul class="five-links" style="list-style-type:none;">
              <li>Han Ho</li>
              <li>Kim Seongho</li>
              <li>Park Joonyoung</li>
              <li>Seo Songhee</li>
            </ul>
          </div>
          <!-- <div>
            <h1>Visit</h1>
            <p>16, Seongnae-ro 17-gil, Gangdong-gu, Seoul,
              Republic of Korea</p>
          </div> -->
        </div>
        <div class="col-3">
          <div class="">
            <h1>Dove</h1>
            
            </ul>
          </div>
        </header>
      </div>
    <!-- <hr> -->

  </section>
