<!-- Five -->
<!-- <section id="five" class="wrapper style2 special fade" style="padding: 1.5em;">
  <h2 style="text-align:left; margin-left: 50px;">
    Team Dove
  </h2>
    <div class="container">
      <header class="row five-site">
        <div class="col-3">
          <div class="name">
            
            <ul class="five-links" style="list-style-type:none;">
              <h1>About</h1>
              <li>About Dove</li>
              <li>Advertise Dove</li>
              <li>Contact Dove</li>
              <li>Explore Dove</li>
              <li>Privacy & Terms</li>
              <li>Community Guidelines</li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <ul class="five-links" style="list-style-type:none;">
            <h1>Help</h1>
            <li>Design</li>
            <li>Contact Us</li>
            <li>Contribute</li>
            <li>Privacy Policy</li>
            <li>Sitemap</li>
          </ul>
        </div>
        <div class="col-3">
          <div class="">
            
            <ul class="five-links" style="list-style-type:none; text-align: center;">
              <h1>Members</h1>
              <li>Han Ho</li>
              <li>Kim Seongho</li>
              <li>Park Joonyoung</li>
              <li>Seo Songhee</li>
            </ul>
          </div>

        </div>
        <div class="col-3">
          <div class="">
            <ul class="five-links" style="list-style-type:none; text-align: center;">
              <h1>Project Stories</h1>
              <p>This project is a site that talks 
                about the war situation between 
                Russia and Ukraine.</p>
            </ul>
          </div>
        </header>
      </div> -->
    <!-- <hr> -->

  <!-- </section> -->

            <!-- <div>
            <h1>Visit</h1>
            <p>16, Seongnae-ro 17-gil, Gangdong-gu, Seoul,
              Republic of Korea</p>
          </div> -->
