<!-- Footer -->
<footer id="footer"style="padding: 5em;">
    <ul class="github" style="list-style: none; margin-bottom: -20px;">
        <li><a href="https://github.com/kimseongho0519 "target="blank" class="icon brands alt fa-github"><span class="name"> Kim SeongHo </span></a></li>
        <li><a href="#" class="icon brands alt fa-github"><span class="name"> Seo songHee  </span></a></li>
        <li><a href="#" class="icon brands alt fa-github"><span class="name"> Park JoonYoung  </span></a></li>
        <li><a href="#" class="icon brands alt fa-github"><span class="name"> Han HO</span></a></li>
    </ul>
    <ul class="copyright" style="padding-top: -10px;">
        <li>&copy; K-digital Training </li><li>Design: <a href="#">Team Dove</a></li>
    </ul>
</footer>

</div>
