			<!-- Four -->
            <section id="four" class="wrapper style1 special fade-up">
                <div class="container">
                    <header class="major">
                        <h2>소개</h2>
                        <p>소개소개소개</p>
                    </header>
                    <div class="box alt">
                        <div class="row gtr-uniform">
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="/main/images/icon1.png" alt=""></img>
                                <h3>스킬</h3>
                                <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="/main/images/icon2.png" alt=""></img>
                                <h3>스킬2</h3>
                                <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="/main/images/icon3.png" alt=""></img>
                                <h3>스킬3</h3>
                                <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="/main/images/icon4.png" alt=""></img>
                                <h3>스킬4</h3>
                                <p>소개하기.</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="/main/images/icon5.png" alt=""></img>
                                <h3>스킬5</h3>
                                <p>소개하기</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="/main/images/icon6.png" alt=""></img>
                                <h3>스킬6</h3>
                                <p>소개하기</p>
                            </section>
                        </div>
                    </div>
                    <footer class="major">
                        <ul class="actions special">
                            <li><a href="#" class="button">Magna sed feugiat</a></li>
                        </ul>
                    </footer>
                </div>
            </section>