{% load static %}
            <section id="four" class="wrapper style1 special fade-up">
                <div class="container">
                    <header class="major">
                        <h2>Skills</h2>
                        <p>웹 페이지 작성에 사용된 언어들</p>
                    </header>
                    <div class="box alt">
                        <div class="row gtr-uniform">
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon1.png' %}" alt="html"></img>
                                <p>페이지 생성, 각 tag 크기 지정, 설명란 작성</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon2.png' %}" alt="css"></img>
                                <p> HTML 문서 글꼴, 색상등 효과 생성 </p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon8.png' %}" alt=""></img>
                                <p>HTML 문서 글꼴, 색상등 효과 생성</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon6.png' %}" alt=""></img>
                                    <p>HTML 문서 동작 효과 작성</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon3.png' %}" alt=""></img>
                                <p>대시보드(chart) 데이터 저장 데이터베이스로 활용</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon4.png' %}" alt=""></img>
                                <p>mysql 데이터 저장시 사용<br>pandas,pymysql 사용</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon5.png' %}" alt=""></img>
                                <p>웹페이지 작성</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon7.png' %}" alt=""></img>
                                <p>서버 환경 구축</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon10.png' %}" alt="html"></img>
                                <p>Nginx, Django 연결</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon9.png' %}" alt=""></img>
                                <p>웹 서버 프로그램</p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <img src="{% static 'main/images/icon11.png' %}" alt="html"></img>
                                <p>웹 페이지 배포</p>
                            </section>
                        </div>
                    </div>
                    <footer class="major">
                        <ul class="actions special">
                            <li><a href="#" class="button">Main Page</a></li>
                        </ul>
                    </footer>
                </div>
            </section>