{% load static %}
{% block content %}
<header id="header">
    <h1 id="logo"><a href="{% url 'home' %}">Dove</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>
                <a href="#">Team Members</a>
                <ul>
                    <li><a href="">Kim Seongho</a></li>
                    <li><a href="#">Park Joonyoung</a></li>
                    <li><a href="#">Seo Songhee</a></li>
                    <li><a href="#">Han Ho</a></li>
                
                </ul>
            </li>							
            <li><a href="#" class="button primary">Chart</a></li>
        </ul>
    </nav>
</header>
{% endblock %}