<three_hh.thml>
    {% load static %}
    <!-- Three -->
    <section id="three" class="spotlight style2 left">
        <span class="image fit main"><img src="{% static 'main/hh/images/main.jpg' %}" alt="개인포트폴리오" height = '100%'></span>
        <div class="content">
            <header>
                <h2>한호</h2>
                <p>데이터테크 전공</p>
                <p>금융재무학과 전공</p>
            </header>
            <p>개인 프로필과 대학교 다니면서 했던 전공 프로젝트와 동아리 활동 대외 활동에 대한 내용이 담겨있습니다.</p>
            <ul class="actions">
                <li><a href="{% url 'member_hh' %}" class="button">look profile</a></li>
            </ul>
        </div>
    </section>