<!-- Three -->
{% load static %}
<section id="three" class="spotlight style2 left">
    <span class="image fit main"><img src="{% static 'main/pjy/images/pjy_po.JPG' %}" alt="개인포트폴리오" /></span>
    <div class="content">
        <header>
            <h2 style="margin-top: -40px;">박준영</h2>
            <p>데이터 분석가</p>
        </header>
        <p>Technology Stack(s)</p>
        <ul style="margin-top: -15px;">
            <li> HTML/CSS/JS </li>
            <li> Python/R </li>
            <li> django </li>
            <li> DB </li>
        </ul>
        <p>안녕하세요. 박준영입니다.<br>
            개발 프로그램과 분석 프로그램을 배워<br>
            디자인 능력과 데이터 분석 능력을<br>
            키워나가겠습니다.<br>
        <ul class="actions">
            <li><a href="/member_pjy/" class="button">look profile</a></li>
        </ul>
    </div>
</section>