<link rel="stylesheet" href="/main/static/main/css/main.css" />
<!-- Two -->
<section id="two" class="spotlight style2 right">
    <span class="image fit main"><img src="images/main3.png" alt="2번째 페이지"/></span>
    <div class="content">
        <header>
            <h2>김성호</h2>
            <p><프론트엔드 개발자></p>

                <p>Technology Stack(s)</p>
                <ul>
                    <li> HTML/CSS/JS </li>
                    <li> Python </li>
                    <li> django </li>
                    <li> DB </li>
                </ul>
        </header>
        <p>안녕하세요. 김성호입니다.<br>
            이번 k-디지털트레이닝을 통해,<br>
            프론트엔드의 필요한 기술들과<br>
            문제해결 능력을 키워나가겠습니다.<br>
        </p>
        <ul class="actions">
            <li><a href="/bigData/my/index.html" class="button">Detail</a></li>
        </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
</section>

