<!-- Two -->
{% load static %}

{% comment %} <section id="two" class="spotlight style3 left"> {% endcomment %}
<section id="two" class = "spotlight style3 left">
    <div class = "monthly_chart">
        {% include 'main/monthly_chart.html' %}
    </div>
    <div class="content">
        <header>
            <h2>전쟁으로 인한 생활 속 변화</h2>
            <p>전쟁 피해로 인한 간접적인 영향이 무엇인지 알아봅니다</p>
        </header>
        <p>곡류, 기름, 광물의 가격 변동 흐름이 어떻게 변하는지 그래프로 표현</p>
        <ul class="actions">
            <li><a href="chart/" class="button">Details</a></li>
        </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
</section>

