<!-- Two -->
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script src="{% static 'main/js/chart.js' %}"></script>


<section id="two" class="spotlight style3 left">
    <span class="image fit main bottom"><canvas id="aluminium"></canvas> </span>
    <div class="content">
        <header>
            <h2>전쟁으로 인한 생활 속 변화</h2>
            <p>전쟁 피해로 인한 간접적인 영향이 무엇인지 알아봅니다</p>
        </header>
        <p>곡류, 기름, 광물의 가격 변동 흐름이 어떻게 변하는지 그래프로 표현</p>
        <ul class="actions">
            <li><a href="chart/" class="button">Details</a></li>
        </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
</section>

